<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    Hola "nombere de usuario", elegiste el color "color", tu email es:
    "emailUsuario" y tu edad es: "edadUsuario".
</body>
</html>