<!DOCTYPE html>
<html>
  <head>
    <title>Log-In</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <form action="">
      <div>
        <label for="name">Ingrese su nombre</label>
        <input type="text" name="name" id="name" required>
      </div>
      <div>
        <label for="color">Color</label>
        <select name="color" id="color" required>
          <option value="" selected hidden></option>
          <option value="red">Rojo</option>
          <option value="green">Verde</option>
          <option value="yellow">Amarillo</option>
          <option value="violet">Violeta</option>
          <option value="brown">Marron</option>
          <option value="white">Blanco</option>
          <option value="black">Negro</option>
        </select>
      </div>
      <div>
        <label for="mail">Ingrese su email</label>
        <input type="mail" name="mail" id="mail" required>
      </div>
      <div>
        <label for="age">Ingrese su edad</label>
        <input type="mail" name="age" id="age" required>
      </div>
      <div>
        <button type="submit">Enviar</button>
      </div>
    </form>

  </body>
</html>
